/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 20px 0;
}
section.module.parallax {
  height: 630px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 150px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../img/addie.jpg");
}
section.module.parallax-2 {
  background-color: #ceaeae;
  height: 100px;
}
section.module.parallax-3 {
  background-image: url("../img/student.jpg");
}
section.module.parallax-4 {
  background-color: #d8d363;
  height: 100px;
}

section.module.parallax-5 {
  background-image: url("../img/dragonfly.jpg");
}

@media all and (min-width: 300px) {

  .image_container img {
    width: 150px;
  }

  section.module.parallax-1 {
    background-position: 0%;
  }

}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
    line-height: 150px;
  }

  section.module.parallax-2 {
    //height: 800px;
    //padding: 10px 10px;
  }

  section.module.content {
  height: 700px;
  }

  .image_container img {
    width: 512px;
  }

}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
    line-height: 600px;
  }

    section.module.parallax-2 {
      //height: 587px;
      //padding: 123.5px 100px;
    }

    section.module.content {
      height: 400px;
    }
}

.text_container {
    vertical-align: middle;
}

.image_container {
    text-align: center;
}

.image_container img {
    vertical-align: middle;
    padding-top: 10px;
}
