.text_container {
    vertical-align: middle;
}

.image_container {
    text-align: center;
}

.image_container img {
    vertical-align: middle;
}

.page-title {
  font-size: 90px;
  text-align: center;
}

.contact-image {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondary-title {
  font-size: 50px;
  text-align: left;
  padding-top: 10px;
}

.secondary-item {
  border-top: 1px solid #c8cbd1;
}

.secondary-icon {
  height: 50px;
  margin-top: 15px;
  float: right;
}

.favorite-content {
  text-align: center;
}

.favorite-icon {
  max-width: 100%;
  padding-bottom: 15px;
}

.secondary-item-title {
  font-size: 35px;
}

.secondary-item-desc {
}

.secondary-item-link {
  padding-bottom: 10px;
}

.contact-image img {
  max-height: 100px;
}

.copyright {
  text-align: center;
  padding-top: 15px;
}

.wrapper {
  background-color: #F9F4ED;
  font-family: 'Vibur', cursive;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 20px 0;
}
section.module.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
}
section.module.parallax-2 {
  background-color: #ceaeae;
  height: 50px;
  border-radius: 25px;
}
section.module.parallax-3 {
}
section.module.parallax-4 {
  background-color: #d8d363;
  height: 50px;
  border-radius: 25px;
}
section.module.parallax-5 {
  background-color: #cebeaf;
  height: 50px;
  border-radius: 25px;
}

@media all and (min-width: 300px) {

  .image_container img {
    width: 150px;
    border-radius: 50%;
  }

  section.module.parallax-1 {
    background-position: 50%;
  }

  section.module.parallax-1, section.module.parallax-3  {
  }

  section.module.parallax-2, section.module.parallax-4  {
    height: 50px;
  }

}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
    line-height: 150px;
  }

  section.module.parallax-2 {
  }

  section.module.parallax-1 {
    background-position: 50% 75%;
  }

  section.module.content {
  height: 700px;
  }

  .image_container img {
    width: 350px;
  }

}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
    line-height: 600px;
  }

    section.module.parallax-2 {
    }

    section.module.content {
    }

  section.module.parallax-1 {
  }

  section.module.parallax-1, section.module.parallax-3  {
  }
}
